<ng-container *ngIf="character;else emptyCharacterTemplate">
    <!-- Section: Creature Description -->
    <div class="character-section">
        <!-- Iterate character attributes: abilities -->
        <div *ngFor="let creatureDesc of creatureDescription">
            <!-- Component: basic title + value editable input -->
            <!-- This edit component could be made generic... but that could also limit client style customisability -->
            <mat-card>
                <mat-card-title>
                    <div class="editLabel" (click)="onValueEdit(creatureDesc)">
                        {{ creatureDesc | dmLabel:schema:'character' }}:</div>
                </mat-card-title>
                <mat-card-content>
                    <div class="dataDisplay"
                        [innerHTML]="creatureDesc | dmValue:character:schema:'character':character | dmSafeHTML">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- Section: Abilities -->
    <div class="character-section">
        <h2>Abilities</h2>
        <!-- Iterate character attributes: abilities -->
        <div *ngFor="let ability of abilities">
            <!-- Component: basic title + value editable input -->
            <mat-card>
                <mat-card-title>
                    <div class="editLabel" (click)="onValueEdit(ability)">
                        {{ ability | dmLabel:schema:'character' }}:</div>
                </mat-card-title>
                <mat-card-content>
                    <div class="dataDisplay"
                        [innerHTML]="ability | dmValue:character:schema:'character':character | dmSafeHTML">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-container>

<!-- Template to show if the character object is empty.
Although it appears that the current constructor will create a new character if this page is entered directly with a new uid. -->
<ng-template #emptyCharacterTemplate>
    <h2>You shouldn't be here...</h2>
</ng-template>